body {
  font-family: 'roboto_slab';
  line-height: 160%;
}

@font-face {
	font-family: 'roboto_slab';
	src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
	font-family: 'roboto_bold';
	src: url('../fonts/RobotoSlab-Regular.ttf');
}

img {
	margin-bottom: 10px;
}

.pubbody {
	padding-right: 30px;
}

.line {
	padding-top: 0px;
	margin-top: 0px;
}

.line small {
	line-height: 130%;
}

.line h3 {
	line-height: 124%;
	padding-top: 0px;
	margin-top: 0px;
}

a {
	padding-bottom: 5px;
	color: firebrick;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	position:relative;
	top:-2px;
    text-decoration: none;
    color: firebrick;
}

.highlight{
    color: firebrick;
    font-family: 'roboto_bold';
    font-weight: bold
}

.mini-header {
	font-family: 'roboto_bold';
    font-size:2em;
	text-transform:uppercase;
	font-weight: 300;
}

h3 {
	margin-top: 12px;
}

h4 {
    line-height: 25px;
}

.aboutpic1 {
	width: 300px;
	height: auto;
	padding: 20px;
	padding-left: 0px;
	padding-top: 15px;
}

.aboutpic2 {
	width: 300px;
	height: auto;
	padding: 20px;
	padding-right: 0px;
	padding-top: 25px;
}

.slides .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mini-header2 {
	font-weight: 700;
}

.header-link {
	text-align: left;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 30px;
	color: #000000;
	font-family: 'roboto_bold';
	font-size: larger;
	text-transform:uppercase;
}

.alignleft {
	align: left;
	padding: 0px;
	width:160px;
	border: 1px solid #ADADAD;
}

strong {
	font-weight: 700;
	font-family: 'roboto_slab';
}

.alignleft2 {
	align: left;
	padding:10px;
	margin-right: 40px;
	margin-left: 20px;
	margin-bottom: 0px;
	width:140px;
}

.alignleft3 {
	align: left;
	padding: 0px;
	margin: 0px;
	width:300px;
	border: 1px solid #ADADAD;
}

.links h4 {
	line-height: 25px;
}

.papers {
	display: block;
	padding-left: 30px;
}

.header-link a {
	color: #000000;
	font-family: 'roboto_bold';
	font-size: larger;
}

.header-link b {
	color: firebrick;
	font-family: 'roboto_bold';
	font-size: larger;
}

.header-link a:hover {
	text-decoration: none;
	color: firebrick;
	font-size: larger;
}

.news {
		border:1px solid black;
		max-height:12em;
		min-width:20em;
		/*min-height:20em;*/
		overflow:auto;
		list-style-position: outside;
		padding-left: 2.2em;
	}



ul.pubs > li{
	margin-bottom: 1.2em;
}

.aParent div {
  float: left;
  clear: both; 
}

.wrapper {
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
    padding-bottom: 2cm;

}

.posts-wrapper {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}